body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display:flex;

}

nav a {
  margin: 0px 20px 0px 0px;
}

nav a.active {
  background-color: grey;
}

main {
  margin: 10px;
}

canvas {
  border: 1px solid black;
}

div.collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

div.picture-card, div.collection-card{
  margin:10px;
}

div.display-bar {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

div.display-bar img {
  width: 150px;
}

div.show-picture img {
  max-width: 400px;
}